# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.SSW.iml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\north\Documents\Personal\School\Unity\SSW\.idea\.idea.SSW\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
